# PostgreSQL
DATABASE_URL="postgresql://flathunt:flathunt@localhost:5432/flathunt?schema=public"

# JWT
JWT_SECRET="change_me_to_a_strong_random_32_bytes_secret"
JWT_EXPIRES_IN="7d"

# Public
NEXT_PUBLIC_APP_URL="http://localhost:3000"
